.alternate-option {
  margin-left: 20px;
  position: relative;
  top: 15px;
}
.input-field label{
  color:black;
}
span{
  color: black;
}

label{
  color: black;
}
.dell-blue{
  background-color:#007CB6;
}
.dell-blue-dark{
  background-color:#006BA5;
}

.dell-blue-text{
  color: #007CB6;
  font-weight: 500;
}

input {
  text-align: center;
}
/*------------------------------------Footer----------------------------------*/
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007CB6;
  color: white;
  text-align: center;
}

.footer-icon {
  color: red;
}

.footer-text{
  font-size: large;
}