.alternate-option {
  margin-left: 20px;
  position: relative;
  top: 15px;
}
.input-field label{
  color:black;
}
span{
  color: black;
}

label{
  color: black;
}
.dell-blue{
  background-color:#007CB6;
}
.dell-blue-dark{
  background-color:#006BA5;
}